div.article{
  width:1000px;
  margin:0 auto;
}
div.pagination{
text-align: center;
}
.centrage>li{
  margin:10px;
  list-style: none;

}
#form{
  display: flex;
}


@media only screen and (max-width: 500px) {

  div#form{
      flex-direction: column;
  }
  div.article{
    width:100%;
  }

}
